Cleans data for 2017 mayor ballots

In [11]:
import pandas as pd
import numpy as np
import os
from pathfinder import csvfinder

csv_file = r"2017-Mayor-Ballot-Records.csv" #Change file name here/other data cleaning tasks below when dealing with different datasets
file_path = csvfinder(csv_file)

#Load the CSV file
data = pd.read_csv(file_path)

In [12]:
data = pd.read_csv(file_path)
data.rename(columns={
    '1st Choice': '1st',
    '2nd Choice': '2nd',
    '3rd Choice': '3rd',
    'Precinct': 'Precinct',
    'Count': 'Count'
}, inplace=True)
data.to_csv(file_path, index = False)

Remove invalid votes

In [13]:
#Define the list of values to filter out
undesired_values = ["undervote", "overvote", "defective"]

cleaned_data = data.copy()

#Replace undesired values with NA
cleaned_data.replace(undesired_values, np.nan, inplace=True)

# Filter out rows where all of the specified columns have undesired values
# cleaned_data = data[~data[['1st', '2nd', '3rd']].isin(undesired_values).any(axis=1)]
#cleaned_data = data[~(data['1st'].isin(undesired_values) &
 #                     data['2nd'].isin(undesired_values) &
 #                     data['3rd'].isin(undesired_values))]
cleaned_data = cleaned_data.dropna(subset=['1st', '2nd', '3rd'], how='all')

#Drop Precinct column
cleaned_data = cleaned_data.drop(columns=['Precinct'])

#Display the first few rows of the cleaned dataframe to verify the changes
cleaned_data

data.to_csv(file_path, index = False)

In [14]:
print(cleaned_data.groupby(['1st', '2nd', '3rd']).agg({'Count': 'sum'}).reset_index().sort_values(by='Count', ascending=True, ignore_index=True))

                     1st                 2nd                 3rd  Count
0            Ian Simpson          Jacob Frey        Betsy Hodges      1
1        Ronald Lischeid        Aswar Rahman  Nekima Levy-Pounds      1
2        Ronald Lischeid        Aswar Rahman        Raymond Dehn      1
3        Ronald Lischeid        Aswar Rahman            Tom Hoch      1
4             Jacob Frey        Charlie Gers          Jacob Frey      1
...                  ...                 ...                 ...    ...
2500            Tom Hoch          Jacob Frey        Betsy Hodges   2069
2501        Raymond Dehn        Betsy Hodges  Nekima Levy-Pounds   2115
2502  Nekima Levy-Pounds        Raymond Dehn        Betsy Hodges   2187
2503          Jacob Frey            Tom Hoch        Betsy Hodges   2676
2504        Raymond Dehn  Nekima Levy-Pounds        Betsy Hodges   3411

[2505 rows x 4 columns]

Edit invalid choices in votes

In [15]:
# Identify rows where 1st == 2nd == 3rd
condition_all = (cleaned_data['1st'] == cleaned_data['2nd']) & (cleaned_data['1st'] == cleaned_data['3rd']) & (cleaned_data["1st"] != "UWI")

# Change col2 and col3 to NaN for those rows
cleaned_data.loc[condition_all, ['2nd', '3rd']] = np.nan

# Identify rows
condition_1st_3rd_equal = (cleaned_data['1st'] == cleaned_data['3rd']) & (cleaned_data["1st"] != "UWI")
condition_2nd_3rd_equal = (cleaned_data['2nd'] == cleaned_data['3rd']) & (cleaned_data["2nd"] != "UWI")
condition_1st_2nd_equal = (cleaned_data['1st'] == cleaned_data['2nd']) & (cleaned_data["1st"] != "UWI")

# Change 3rd to NaN for those rows
cleaned_data.loc[condition_1st_3rd_equal, '3rd'] = np.nan
cleaned_data.loc[condition_2nd_3rd_equal, '3rd'] = np.nan
cleaned_data.loc[condition_1st_2nd_equal, '2nd'] = np.nan

# Check if '1st' and '2nd' are NaN
condition = cleaned_data['1st'].isna() & cleaned_data['2nd'].isna()

# Apply the condition and update the values
cleaned_data.loc[condition, '1st'] = cleaned_data.loc[condition, '3rd']
cleaned_data.loc[condition, '3rd'] = np.nan

# Check if '2nd' are NaN
condition = cleaned_data['2nd'].isna()

# Apply the condition and update the values
cleaned_data.loc[condition, '2nd'] = cleaned_data.loc[condition, '3rd']
cleaned_data.loc[condition, '3rd'] = np.nan

# Check if '1st' are NaN
condition = cleaned_data['1st'].isna()

# Apply the condition and update the values
cleaned_data.loc[condition, '1st'] = cleaned_data.loc[condition, '2nd']
cleaned_data.loc[condition, '2nd'] = np.nan

cleaned_data

cleaned_data.to_csv(file_path, index = False)

Aggregate Data

In [16]:
cleaned_data = cleaned_data.fillna('Null')
aggregated_data = cleaned_data.groupby(['1st', '2nd', '3rd']).agg({'Count': 'sum'}).reset_index().sort_values(by='1st', ascending=True, ignore_index=True)
print(aggregated_data)

cleaned_data.to_csv(file_path, index = False)

             1st                 2nd                   3rd  Count
0     Al Flowers        Aswar Rahman          Betsy Hodges      4
1     Al Flowers                Null            Jacob Frey      2
2     Al Flowers                Null      Gregg A. Iverson      1
3     Al Flowers  Nekima Levy-Pounds                   UWI      1
4     Al Flowers  Nekima Levy-Pounds              Tom Hoch     16
...          ...                 ...                   ...    ...
2525         UWI   David John Wilson  Captain Jack Sparrow      1
2526         UWI   David John Wilson                  Null      1
2527         UWI   David John Wilson                   UWI      1
2528         UWI     David Rosenfeld                  Null      1
2529         UWI                 UWI                   UWI     34

[2530 rows x 4 columns]

Round 1 1st Rank

In [17]:
# Group by the first-ranked candidate and sum the counts, then convert to DataFrame
first_rank_counts_df = aggregated_data.groupby('1st')['Count'].sum().reset_index()

# Rename the columns
first_rank_counts_df.columns = ['Candidate', 'Count']

# Set the index to start from 1
first_rank_counts_df.index = first_rank_counts_df.index + 1

print(first_rank_counts_df)

cleaned_data.to_csv(file_path, index = False)

                Candidate  Count
1              Al Flowers    711
2            Aswar Rahman    756
3            Betsy Hodges  18915
4    Captain Jack Sparrow    438
5            Charlie Gers   1233
6   Christopher Zimmerman      1
7       David John Wilson    220
8         David Rosenfeld    477
9        Gregg A. Iverson    335
10            Ian Simpson    119
11             Jacob Frey  26116
12               L.A. Nik    612
13     Nekima Levy-Pounds  15716
14           Raymond Dehn  18102
15        Ronald Lischeid    325
16               Tom Hoch  20125
17       Troy Benjegerdes    184
18                    UWI    138

Next round: remove UWI

In [18]:
cleaned_data.replace("UWI", np.nan, inplace=True)
cleaned_data.replace("Null", np.nan, inplace=True)

#Repeat Steps
cleaned_data = cleaned_data.dropna(subset=['1st', '2nd', '3rd'], how='all')

#Repeat Steps

# Check if '1st' and '2nd' are NaN
condition = cleaned_data['1st'].isna() & cleaned_data['2nd'].isna()

# Apply the condition and update the values
cleaned_data.loc[condition, '1st'] = cleaned_data.loc[condition, '3rd']
cleaned_data.loc[condition, '3rd'] = np.nan

# Check if '2nd' are NaN
condition = cleaned_data['2nd'].isna()

# Apply the condition and update the values
cleaned_data.loc[condition, '2nd'] = cleaned_data.loc[condition, '3rd']
cleaned_data.loc[condition, '3rd'] = np.nan

# Check if '1st' are NaN
condition = cleaned_data['1st'].isna()

# Apply the condition and update the values
cleaned_data.loc[condition, '1st'] = cleaned_data.loc[condition, '2nd']
cleaned_data.loc[condition, '2nd'] = np.nan

print(cleaned_data)

cleaned_data.to_csv(file_path, index = False)

                       1st                 2nd           3rd  Count
0               Jacob Frey  Nekima Levy-Pounds  Raymond Dehn      1
1                 Tom Hoch          Jacob Frey  Betsy Hodges      1
2               Jacob Frey                 NaN           NaN      1
3       Nekima Levy-Pounds        Betsy Hodges  Raymond Dehn      1
4               Jacob Frey                 NaN           NaN      1
...                    ...                 ...           ...    ...
105924          Jacob Frey  Nekima Levy-Pounds      Tom Hoch      1
105925        Raymond Dehn  Nekima Levy-Pounds  Betsy Hodges      1
105926        Betsy Hodges                 NaN           NaN      1
105927  Nekima Levy-Pounds          Jacob Frey           NaN      1
105928        Raymond Dehn  Nekima Levy-Pounds  Betsy Hodges      1

[104436 rows x 4 columns]

Aggregate

In [19]:
cleaned_data = cleaned_data.fillna('Null')
aggregated_data = cleaned_data.groupby(['1st', '2nd', '3rd']).agg({'Count': 'sum'}).reset_index().sort_values(by='1st', ascending=True, ignore_index=True)
print(aggregated_data)

cleaned_data.to_csv(file_path, index = False)

                   1st                   2nd                   3rd  Count
0           Al Flowers          Aswar Rahman          Betsy Hodges      4
1           Al Flowers    Nekima Levy-Pounds       Ronald Lischeid      2
2           Al Flowers    Nekima Levy-Pounds          Raymond Dehn     18
3           Al Flowers    Nekima Levy-Pounds                  Null     25
4           Al Flowers    Nekima Levy-Pounds            Jacob Frey     16
...                ...                   ...                   ...    ...
2359  Troy Benjegerdes          Charlie Gers  Captain Jack Sparrow      1
2360  Troy Benjegerdes          Charlie Gers          Betsy Hodges      1
2361  Troy Benjegerdes  Captain Jack Sparrow              Tom Hoch      1
2362  Troy Benjegerdes  Captain Jack Sparrow          Raymond Dehn      1
2363  Troy Benjegerdes              Tom Hoch          Raymond Dehn      2

[2364 rows x 4 columns]

Round 2 first rank

In [20]:
# Group by the first-ranked candidate and sum the counts, then convert to DataFrame
first_rank_counts_df = aggregated_data.groupby('1st')['Count'].sum().reset_index()

# Rename the columns
first_rank_counts_df.columns = ['Candidate', 'Count']

# Set the index to start from 1
first_rank_counts_df.index = first_rank_counts_df.index + 1

print(first_rank_counts_df)

cleaned_data.to_csv(file_path, index = False)

                Candidate  Count
1              Al Flowers    713
2            Aswar Rahman    756
3            Betsy Hodges  18921
4    Captain Jack Sparrow    443
5            Charlie Gers   1238
6   Christopher Zimmerman      1
7       David John Wilson    224
8         David Rosenfeld    480
9        Gregg A. Iverson    337
10            Ian Simpson    119
11             Jacob Frey  26124
12               L.A. Nik    616
13     Nekima Levy-Pounds  15718
14           Raymond Dehn  18105
15        Ronald Lischeid    325
16               Tom Hoch  20131
17       Troy Benjegerdes    185

Aggregate

In [21]:
cleaned_data = cleaned_data.fillna('Null')
aggregated_data = cleaned_data.groupby(['1st', '2nd', '3rd']).agg({'Count': 'sum'}).reset_index().sort_values(by='1st', ascending=True, ignore_index=True)
print(aggregated_data)

cleaned_data.to_csv(file_path, index = False)

                   1st                   2nd                   3rd  Count
0           Al Flowers          Aswar Rahman          Betsy Hodges      4
1           Al Flowers    Nekima Levy-Pounds       Ronald Lischeid      2
2           Al Flowers    Nekima Levy-Pounds          Raymond Dehn     18
3           Al Flowers    Nekima Levy-Pounds                  Null     25
4           Al Flowers    Nekima Levy-Pounds            Jacob Frey     16
...                ...                   ...                   ...    ...
2359  Troy Benjegerdes          Charlie Gers  Captain Jack Sparrow      1
2360  Troy Benjegerdes          Charlie Gers          Betsy Hodges      1
2361  Troy Benjegerdes  Captain Jack Sparrow              Tom Hoch      1
2362  Troy Benjegerdes  Captain Jack Sparrow          Raymond Dehn      1
2363  Troy Benjegerdes              Tom Hoch          Raymond Dehn      2

[2364 rows x 4 columns]

Round 3 first rank

In [22]:
# Group by the first-ranked candidate and sum the counts, then convert to DataFrame
first_rank_counts_df = aggregated_data.groupby('1st')['Count'].sum().reset_index()

# Rename the columns
first_rank_counts_df.columns = ['Candidate', 'Count']

# Set the index to start from 1
first_rank_counts_df.index = first_rank_counts_df.index + 1

print(first_rank_counts_df)

                Candidate  Count
1              Al Flowers    713
2            Aswar Rahman    756
3            Betsy Hodges  18921
4    Captain Jack Sparrow    443
5            Charlie Gers   1238
6   Christopher Zimmerman      1
7       David John Wilson    224
8         David Rosenfeld    480
9        Gregg A. Iverson    337
10            Ian Simpson    119
11             Jacob Frey  26124
12               L.A. Nik    616
13     Nekima Levy-Pounds  15718
14           Raymond Dehn  18105
15        Ronald Lischeid    325
16               Tom Hoch  20131
17       Troy Benjegerdes    185